<html>
    <head>
        <title>Test-One</title>
    </head>
    <body>
        <div style = "text-align: center; margin-top: 300px; font-size: 30px; color: seagreen">
            <h2>Hello, World!</h2>
            <a href="/test-one" style="font-size: 20px; text-decoration: none; color: royalblue;">Test One!</a>
            <a href="/test-two" style="font-size: 20px; text-decoration: none; color: royalblue;">Test Two!</a>
        </div>
    </body>
</html>