<html>
    <head>
        <title>Sign In Here!</title>
    </head>
    <body>
        <div style="text-align: center;margin-top: 300px; margin-left: 50px; margin-right: 50px; background-color: seagreen; padding-top: 20px; padding-bottom: 20px;">
            <form action="/signin" method="POST">
                <h3>
                <% if (errorMessage) { %>
                    <p><%= errorMessage %></p>
                <% } %>
                </h3>
                <label for="em" style="font-size: 20px;">Enter Email : </label>
                <input type="email" id="em" placeholder="Enter Email Here" style="font-size: 20px;" name="email" required>
                <br>
                <hr style="width: 500px;">
                <label for="pw" style="font-size: 20px;">Enter Password : </label>
                <input type="password" id="pw" style="font-size: 20px;" placeholder="Enter Password Here" name="pwd" required>
                <br>
                <hr style="width: 500px;">
                <input type="submit" value="Sign In!" style="font-size: 25px; font-weight: bold;cursor: pointer;">
            </form>
        </div>
    </body>
</html>