<html>
    <head>
        <title>Test-Two</title>
    </head>
    <body>
        <div style = "text-align: center; margin-top: 300px; font-size: 30px; color: seagreen">
            <h2>Tested Two!</h2>
        </div>
    </body>
</html>